RewriteEngine On
RewriteCond $1 !^(index\.php|images|css|public|ajax|tmp|download|javascript|rte|document|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
